.card td p:last-child {
  margin-bottom: 0;
}

#card-tabela-acoes .card {
  height: 250px;
}

#tabela-agrupamentos-sm {
  display: none;
}

@media (max-width: 600px) {

  #card-adaptacao .card-title,
  #card-mitigacao .card-title,
  #card-deficithabitacional .card-title,
  #card-vulnerabilidadesocial .card-title {
    font-size: small;
  }

  #tabela-agrupamentos-sm {
    display: inherit;
  }

  #tabela-agrupamentos-md {
    display: none;
  }

}

}

